h1 {
  color:#A44A3F;
  font-family:'Courgette', cursive;
  text-align:center;
}
h1:hover{
  color:#582C4D;
}
h2 {
  color: #A79AB2;
  font-family: 'Kalam', cursive;"
  font-size: 50px;
}
p {
  color: #73C1C6;
  font-family: 'Righteous', cursive;
  font-size:25px;
  text-indent:15px;
  margin-left:40px;
  margin-right:40px;
  width: 500px;
  background-color: #192A51;
}
h3 {
  color:#AAA1C8;
  font-size:35px;
  font-family: 'Amaranth', sans-serif;
  margin-left:1660px
}
.table {
  width:70px;
  height:70px;
}
table{
  border-collapse:collapse;
}
th {
  font-family: 'Anton', sans-serif;
  font-size:30px;
}
td {
  font-family: 'Shadows Into Light', cursive;
  font-size:25px;
  color:#542E71;
}
li {
  font-family: 'Lobster Two', cursive;
  font-size:25px;
  margin-left: 1650px
}
h4 {
  font-size:30px;
  font-family: 'Rock Salt', cursive;
  color:rgb(116, 78, 195);
}
ul {
  color:#967AA1;
}
body{
  background-image: url('../img/stars.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
img{
  width:400px;
  height:400px;
  padding: 60px 100px 60px 100px;
}
img:hover{
  background-color: #96C3CE;
}
.toolbar{
  width:700px;
  height:40px;
  text-align: center;
  background-color:#C7AC92;
  font-family: 'Francois One', sans-serif;
  padding: 0px;
}
a{
  color:#A44A3F;
}
.city{
  width:420px;
  height:400px;
}
.snow{
  width:445px;
  height:400px;
}
.new{
  font-size: 45px;
  color:#B57BA6;
  font-family: 'Niconne', cursive;
  padding-left: 200px;
  padding-top:70px;
  padding-right: 300px;
  padding=bottom: 80px;
}
.clearfix{
  overflow: auto;
}
.movie{
  font-size: 35px;
  font-family: 'Alegreya', serif;
  padding-left: 350px;
  padding-top: 50px;
  padding-right: 100px;
  padding=bottom: 50px;
  color: #73C1C6;
}
