h1{
  color: #7EB09B;
  font-family: 'Tangerine';
  font-weight: bold;
  font-size: 50px;
}

.carousel .carousel-inner{
    height: 800px !important;

}
.fairy{
  height:500px;
  width:400px;
}
.display-3 {
  margin-left: 200px;
  margin-top: 100px
}
.lead{
  margin-left: 250px;
  margin-top: 50px;
}
.card-body{
  background-color:#B6F9C9;
}
